</div>
<nav>
<div class="navleft">
    <ul>
        <li class="small"><a href="/binger">Home</a></li>
        <li class="small"><a href="/binger/top/movie/1">Movies</a></li>
        <li class="small"><a href="/binger/top/series/1">Series</a></li>
        <li class="small"><a href="/binger/suggestions">Suggestions</a></li>
        <li class="small"><a href="/binger/feedback">Feedback</a></li>
    </ul>
</div>
<div class="navright">
        <form action="/binger/search" class="searchbar" method="get">
            <input type="text" placeholder="Search News, Anime and Manga" name="query" size="34" class="search" minlength="3">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
</div>
</nav>
</header>
