</div>
  <nav>
    <div class="navleft">
        <ul>
            <li class="small"><a href="/otaku">Home</a></li>
            <li class="small"><a href="/otaku/top/anime/1">Anime</a></li>
            <li class="small"><a href="/otaku/top/manga/1">Manga</a></li>
        </ul>
    </div>
    <div class="navright">
            <form action="/otaku/search" class="searchbar" method="get">
                <input type="text" placeholder="Search News, Anime and Manga" name="q" size="34" class="search" minlength="4">
                <button type="submit" ><i class="fa fa-search"></i></button>
            </form>
    </div>
  </nav>
</header>
