<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin compose Otaku Post</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <form class="composeform" method="post" action="/otaku">
      <fieldset>
        <div class="input-block">
          <label for="signup-email" style="color: white;">Post title</label>
          <input id="signup-email" name="post_title" type="text" required>
        </div>
        <div class="input-block">
          <label for="signup-username" style="color: white;">Post Image link</label>
          <input id="signup-username" name="post_img" type="text" required >
        </div>
        <div class="input-block">
          <label for="signup-password" style="color: white;">Post Data</label>
          <textarea id="signup-password" name="post_data" rows="8" cols="80" required></textarea>
        </div>
        <div class="input-block">
          <label style="color: white;">Post Author</label>
          <input name="post_author" type="text" required>
        </div>
      </fieldset>
      <button type="submit" class="btn-signup">Continue</button>
    </form>
  </body>
</html>
