<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/password.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    
    <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0">Feedback</h3>
      </div>
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" method="POST" name="myForm" action="/binger/feedback">
              <div class="form-group">
                  <label for="inputPasswordOld">Enter email</label>
                  <input type="text" class="form-control" id="inputPasswordOld" name="email" required>
              </div>
              <div class="form-group">
                  <label for="inputPasswordNew">Your response</label>
                  <textarea name="feedback" id="" cols="38" rows="10" required></textarea>
              </div> 
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
              </div>
          </form>
      </div>

  </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>