<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/password.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <!--<div class="centre">
        <h2 style="text-align: center;">Password Change</h2>
        <form name="signinform" class="form form-signup" method="post" action="/accpasschange" onsubmit="return validateForm()">
            <fieldset>
                <div>
                <label for="signup-password">Password</label>
                <br>
                <br>
                <input id="signup-password" name="pass" type="password" required >
              </div>
              <input type="checkbox" onclick="checking('signup-password')"><p style="display : inline; font-size : 14px;">Show Password</p>
              <div class="input-block" style="margin-top : 10px;">
                <label for="signup-password-confirm">Confirm password</label>
                <input id="signup-password-confirm" name="confirmpass" type="password" required >
              </div>
              <input type="checkbox" onclick="checking('signup-password-confirm')"><p style="display : inline; font-size : 14px;">Show Password</p>
    
            </fieldset>
            <p style="color:red;display: none;" id="alexist">*Password fields do not match</p>
            <button type="submit" class="btn-signup">Continue</button>
          </form>
    </div>-->
    <div class="card card-outline-secondary">
      <div class="card-header">
          <h3 class="mb-0">Change Password</h3>
      </div>
      <div class="card-body">
          <form class="form" role="form" autocomplete="off" method="POST" name="myForm" action="/accpasschange" onsubmit="return validateForm()">
              <div class="form-group">
                  <label for="inputPasswordOld">New Password</label>
                  <input type="password" class="form-control" id="inputPasswordOld" name="pass" required="">
              </div>
              <div class="form-group">
                  <label for="inputPasswordNew">Confirm New Password</label>
                  <input type="password" class="form-control" id="inputPasswordNew" name="confirmpass" required="">
                  <span class="form-text small text-muted">
                          The password must be 8-20 characters, and must <em>not</em> contain spaces.
                      </span>
              </div> 
              <div class="form-group">
                  <button type="submit" class="btn btn-success btn-lg float-right">Save</button>
              </div>
          </form>
      </div>

  </div>
  <!-- /form card change password -->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
function validateForm() {
  var x = document.forms["myForm"]["pass"].value;
  var y=document.forms["myForm"]["confirmpass"].value;
  if (x !=y) {
    alert("Password fields are not same");
    return false;
  }
}
function checking(id)
{
	var x = document.getElementById(id);
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</html>