<!-- some hanges should be done -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <% var us=user;%>
    <% console.log(user.profile_image);%>
    <div class="centre">
        <div class="profile_image">
            <img src="<%=user.profile_image.slice(1)%>" alt="" height="200px" width="200px">
        </div>
        <div class="buttonchange">
            <button onclick="trigger()">Change the profile photo</button>
        </div>
        <div class="buttonch">
            <button onclick="back()">Go Back</button>
        </div>
        <div class="submitform" style="display: none;">
            <form action="/myaccountpi" method="post" enctype="multipart/form-data">
                <input type="file" name="profile_img">
                <input type="submit" value="Submit">
            </form>
        </div>
        <%if(error){%>
            <div>
                <p style="display: block; margin: 10px auto;">File not in requested format</p>
            </div>
          <%}%>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
function trigger()
{
    if($(".buttonchange button").html()=="Change the profile photo")
    {
        $(".buttonchange button").html("Cancel")
        $(".submitform").css("display","block");
    }
    else{
        $(".submitform").css("display","none");
        $(".buttonchange button").html("Change the profile photo")
    }
}
function back()
{
    window.location.href="/myaccount";
}
</script>
</html>