body{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    color: black;
    z-index: 20;
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 5% ;
}